.slick-dots {
    bottom: -40px;
    text-align: center;
}

.slick-dots li button:before {
    font-size: 0.75rem;
    color: rgb(226 232 240);
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: white;
}

@media screen and (max-width:767px) {
    .slick-dots {
        text-align: start;
    }
}